/* Universal selectors  */
* {
  color: #242438;
  font-family: Arial, Helvetica, sans-serif;
}

/* Element Selectors */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(67, 67, 71);
}
header h1 {
  background-color: rgb(145, 233, 245);
  color: rgb(67, 67, 71);
}

/* Class Selectors */
.nav-links {
  list-style: none;
  background-color: rgb(67, 67, 71);
}
.nav-links li {
  display: inline-block;
  padding: 0px 30px;
  background-color: rgb(67, 67, 71);
}
.nav-links li a {
  color: rgb(145, 233, 245);
}
.hero {
  background-image: url("../CSS/Images/hero.jpg");
  background-position: center;
  height: 200px;
}

.hero h2 {
  background-color: rgb(145, 233, 245);
  color: rgb(67, 67, 71);
  margin: 0;
  display: inline;
  position: absolute;
  font-size: 28px;
  top: 200px;
  right: 60px;
  padding: 10px;
}

.contact-info {
  list-style: none;
  justify-content: space-around;
}

.contact-info li {
  display: inline-block;
  padding: 0px 30px;
}

/* ID Selectors */

#about-me {
  display: flex;
  min-height: auto;
}

#about-me h2 {
  border-right: 5px solid rgb(67, 67, 71);
  padding: 20px;
  margin: 60px;
  text-align: right;
}

#about-me div {
  padding: 30px;
}

#work {
  display: flex;
  flex-direction: row;
}

#work h2 {
  border-right: 5px solid rgb(67, 67, 71);
  padding: 20px;
  text-align: right;
}

#work div {
  width: 400px;
  height: 300px;
}

#surf-report {
  background-image: url("../CSS/Images/surfreport.jpg");
  background-position: center;
  height: 200px;
  width: 100%;
}

#led-wall {
  background-image: url("../CSS/Images/ledwall.jpg");
  background-position: center;
  background-size: cover;
  height: 100px;
  width: 100%;
}

#calculator {
  background-image: url("../CSS/Images/calculator.jpg");
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 100%;
}

#pastel-puzzles {
  background-image: url("../CSS/Images/pastelpuzzle.jpg");
  background-position: center;
}

#run-buddy {
  background-image: url("../CSS/Images/runbuddy.jpg");
}

#contact-me {
  display: flex;
  min-height: auto;
}

#contact-me h2 {
  border-right: 5px solid rgb(67, 67, 71);
  padding: 20px;
  text-align: right;
}
