/* Universal selectors  */
*{
    background-color:#fdfffc;
    color:#353535;
    font-family: Arial, Helvetica, sans-serif;
}

/* Element Selectors */
header{
   font-size: larger;
   font-weight: bolder;
   border-bottom: 5px navy;
}

/* Class Selectors */