*{
    background-color:#fdfffc;
    color:#353535;
    font-family: Arial, Helvetica, sans-serif;
}

header{
   font-size: larger;
   font-weight: bolder;
   border-bottom: 5px navy;
}

.site-menu{
   text-align: right;
}

/* portfolio */
#portfolio{
    width: 90%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#portfolio h2{
    text-align: center;
}
#portfolio div{
    width: 40%;
    height: 40%;
}
